
html {
	font-size:62.5%;
  background-color: #260977;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  
  background-color: #260977;
}.frame-1-m4g {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #260977;
  box-sizing: border-box;
  padding: 2rem 0rem 4.9rem 0rem;

  .auto-group-m7qv-qqE {
    height: 4.9rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 15.9rem 8.7rem 0.864rem;
    width: calc(100% - 16.7644rem);

    .auto-group-ks12-hkx {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.651rem 12.8rem 1rem 0rem;
      height: 100%;
      display: flex;
      align-items: center;

      .class-10-material-QfN {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.036rem 0.249rem 0rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
      }
      .solutions-t4k {
        margin: 0rem 4rem 0.151rem 0rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contact-bE4 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 5.1rem 0.151rem 0rem;
        font-size: 2.4rem;
        font-weight: 800;
      }
      .about-Wrp {
        font-weight: 800;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.249rem 0rem 0rem 0rem;
        font-size: 2.4rem;
      }
    }
    .auto-group-flya-qu6 {
      padding: 0.9rem 1.9rem 1rem 1.8rem;
      display: flex;
      flex-shrink: 0;
      margin-right: 0rem;
      height: 100%;
      align-items: center;
      background-color: #ffffff;
      border-radius: 2rem;
      box-sizing: border-box;

      .telegram-m24 {
        font-weight: 800;
        font-style: italic;
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.8rem;
      }
      .arrow-1-sqn {
        width: 3.2rem;
        height: 0;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-2esn-Pp8 {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 80rem 2.9rem 0.9rem;
    width: calc(100% - 80.9rem);

    .free-materials-irQ {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.2rem 0.3rem 0rem 0rem;
      font-size: 4rem;
      font-weight: 800;
    }
    .pin-png-image-1-dCg {
      object-fit: cover;
      vertical-align: top;
      border-radius: 16.7rem;
      flex-shrink: 0;
      width: 5.9rem;
      height: 5.5rem;
    }
  }
  .auto-group-i9py-7de {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .frame-rbE {
      margin-right: 25.8rem;
      height: 4rem;
      background-color: rgba(163, 101, 242, 0.9800000191);
      border-radius: 2rem;
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      width: 8.9rem;
      flex-shrink: 0;
      font-size: 2rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      align-items: center;
    }
    .two-7n4 {
      justify-content: center;
      flex-shrink: 0;
      height: 4rem;
      width: 8.9rem;
      font-family: Inter, 'Source Sans Pro';
      margin: 0.1rem 25rem 0rem 0rem;
      line-height: 1.2125;
      display: flex;
      align-items: center;
      background-color: rgba(163, 101, 242, 0.9800000191);
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
      border-radius: 2rem;
      font-size: 2rem;
    }
    .frame-PDn {
      font-weight: 800;
      background-color: rgba(163, 101, 242, 0.9800000191);
      border-radius: 2rem;
      width: 8.9rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      font-size: 2rem;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      margin-top: 0.6rem;
      height: 4rem;
      justify-content: center;
    }
  }
  .auto-group-5aex-Fmn {
    margin: 0rem 0rem 0.3rem 0.9rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .oswaal-sample-paper-ap4 {
      flex-shrink: 0;
      margin-right: 11.1rem;
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .question-bank-urL {
      margin-right: 15.3rem;
      font-size: 2.4rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .doubt-solving-FQQ {
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.7rem;
      font-size: 2.4rem;
    }
  }
  .auto-group-yepv-AXN {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 19.6rem 5.7rem 0.8rem;
    width: calc(100% - 20.4rem);
    height: 12.2rem;

    .auto-group-qmmn-gVi {
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.3rem 9.1rem 0.3rem 0rem;

      .auto-group-vwbe-cPN {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.5rem 16rem 0.5rem 0rem;
        height: calc(100% - 1rem);
        align-items: flex-end;
        display: flex;

        .all-the-sample-paper-of-oswaal-with-solutions-for-free-jyn {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0.1rem 0.1rem 0rem;
          max-width: 18.5rem;
          font-size: 1.6rem;
        }
        .auto-group-uehs-qX2 {
          font-weight: 800;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.2125;
          color: #000000;
          font-size: 1.6rem;
          font-family: Inter, 'Source Sans Pro';
          background-color: #ffffff;
          border-radius: 2rem;
          width: 11.4rem;
          height: 4.6rem;
          display: flex;
        }
      }
      .auto-group-gn8k-hp8 {
        margin-bottom: 0.5rem;
        width: 25.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .every-one-says-practice-practice-and-practice-heres-presenting-practice-sheet-qQY {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          max-width: 25.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
        }
        .auto-group-m7gp-7cx {
          align-items: center;
          height: 4.6rem;
          font-size: 1.6rem;
          font-weight: 800;
          display: flex;
          justify-content: center;
          background-color: #ffffff;
          flex-shrink: 0;
          width: calc(100% - 13.7rem);
          white-space: nowrap;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 2rem;
          margin: 0rem 6.2rem 0rem 7.5rem;
        }
      }
    }
    .auto-group-1tet-BWL {
      width: 26.1rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .click-here-7Pz {
        color: #000000;
        white-space: nowrap;
        position: absolute;
        left: 8.9rem;
        top: 9.1rem;
        font-size: 1.6rem;
        font-weight: 800;
        line-height: 1.2125;
        width: 9.9rem;
        height: 2rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .we-dont-have-teachers-to-solve-doubt-but-our-creative-team-will-help-you-incredibly-to-solve-your-doubt-its-beyond-you-imagination-CgL {
        color: #ffffff;
        left: 0;
        font-size: 1.6rem;
        position: absolute;
        top: 0;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 26.1rem;
        height: 7.8rem;
      }
      .rectangle-8-FuW {
        border-radius: 2rem;
        width: 11.4rem;
        height: 4.6rem;
        position: absolute;
        left: 7.9rem;
        top: 7.6rem;
        background-color: #ffffff;
      }
      .click-here-Ama {
        white-space: nowrap;
        width: 9.9rem;
        height: 2rem;
        position: absolute;
        top: 9.3rem;
        font-size: 1.6rem;
        left: 8.7rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .auto-group-h7ik-Gpc {
    padding: 1.2rem 1.9rem 0.5rem 1.1rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin: 0rem 95.1rem 0rem 1.3rem;
    box-sizing: border-box;
    width: calc(100% - 96.4rem);
    border-radius: 2rem;

    .youtube-BAt {
      margin: 0rem 1.8rem 0.2rem 0rem;
      font-size: 2.4rem;
      font-weight: 900;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-w2kv-JWQ {
      width: 3.6rem;
      height: 3.2rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
