
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.4rem;
}.rectangle-2-kE8 {
  width: 100%;
  height: 20.8rem;
  background-color: #260977;
  border-radius: 2rem;
}
